<h1>kuku</h1>
<a href="/add_course">Add a new course</a>
{{#each result}}
<div>
    <ul>
        <li>{{this.author}}</li>
        <li>{{this.course_name}}</li>
        <div>
            <a class="remove_btn" href="/remove/{{this.course_id}}">Remove</a>
        </div>
        <img src="/public/img/{{this.img}}" alt="">

        <form action="/details/{{this.course_id}}" method="POST">
            <input type="submit" value="Course Details" />
        </form>

    </ul>
</div>



{{/each}}

<script src="/public/js/home.js"></script>