<<<<<<< HEAD
 <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">

  <div class="topnav">
        <a class="active" href="#home" style="font-size:30px; font-family:Luckiest Guy;"> <span style="font-size: 40px;margin-right: -5px;">C</span>   ourses  </a>

        <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." style="margin-top: 15px;width:300px;" name="search">
            <button type="submit" style="margin-top: 15px; " ><i class="fa fa-search">search</i></button>
          </form>
          
      </div>

<a  href="/add_course">Add a new course</a>
<input type="submit" id="submit" onclick="window.location.href='http://www.google.com'" value="+">
{{!-- <div class="plusSign" style="margin-top: 7px;"> --}}
  {{!-- <button> d</button> --}}
{{!-- <div class="plus radius">
</div> --}}
</div>
            {{!-- <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." style="margin-top: 15px;width:300px;" name="search">
            <button type="submit" style="margin-top: 15px; " ><i class="fa fa-search">search</i></button>
          </form>
        </div> --}}
  </div>



<h1 style="text-align: center;font-size:4rem">THe best Courses Of the year!</h1>

<div class="coursesCatalog" >
{{#each result}}
<div class="courseCardContainer">

<div class="courseCard">
    <ul>
       
        <div class="btnFather">
            <a class="remove_btn" href="/remove/{{this.course_id}}">✘</a>
        </div>
        <img src="/public/img/{{this.img}}" class="CourseImg" alt="">

 <li class="authorName">{{this.author}}</li>
        <li>{{this.course_name}}</li>
        
        <form action="/details/{{this.course_id}}"  class="CourseDetailsBtnFather"  method="POST">
            <input type="submit" class="CourseDetailsBtn" value="Course Details" />
        </form>

    </ul>
</div>



{{!-- <div class="courseDetailsContainer">
    <div class="courseDetails">
    <p>{{this.course_details}}</p>
    </div>
    <img src="/public/img/{{this.img}}" alt="">
    <a href="{{this.link}}">ROLL</a>
</div> --}}


</div>

{{/each}}



</div>
<script src="/public/js/home.js"></script>